@model TourMe.Data.Entities.Activite





    <ul>
        <li class="l-info-pack-plac">
            <i class="icon-calendar" aria-hidden="true"> Du @Model.dateDebut A @Model.dateDebut</i>
            @*<h4> Du<span> @Model.dateDebut.Date.ToString("d")</span> A  <span>@Model.dateDebut.Date.ToString("d")</span></h4>*@
            <p class="f-para">
                @Model.Details
                    </p>
        </li>
      
    </ul>
