@model ExperienceViewModel
@{ Layout = null; }

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/wizard/assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="~/wizard/assets/img/favicon.png" />
    <title>The Travel - Tour Travel</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Canonical SEO -->
    <link rel="canonical" href="https://www.creative-tim.com/product/paper-bootstrap-wizard" />

    <meta name="keywords" content="wizard, bootstrap wizard, creative tim, long forms, 3 step wizard, sign up wizard, beautiful wizard, long forms wizard, wizard with validation, paper design, paper wizard bootstrap, bootstrap paper wizard">
    <meta name="description" content="Paper Bootstrap Wizard is a fully responsive wizard that is inspired by our famous Paper Kit  and comes with 3 useful examples and 5 colors.">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Paper Bootstrap Wizard by Creative Tim">
    <meta itemprop="description" content="Paper Bootstrap Wizard is a fully responsive wizard that is inspired by our famous Paper Kit  and comes with 3 useful examples and 5 colors.">
    <meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/49/opt_pbw_thumbnail.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">

    <meta name="twitter:title" content="Paper Bootstrap Wizard by Creative Tim">
    <meta name="twitter:description" content="Paper Bootstrap Wizard is a fully responsive wizard that is inspired by our famous Paper Kit  and comes with 3 useful examples and 5 colors.">

    <meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/49/opt_pbw_thumbnail.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Paper Bootstrap Wizard by Creative Tim | Free Boostrap Wizard" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://demos.creative-tim.com/paper-bootstrap-wizard/wizard-list-place.html" />
    <meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/49/opt_pbw_thumbnail.jpg" />
    <meta property="og:description" content="Paper Bootstrap Wizard is a fully responsive wizard that is inspired by our famous Paper Kit  and comes with 3 useful examples and 5 colors." />
    <meta property="og:site_name" content="Creative Tim" />

    <!-- CSS Files -->
    <link href="~/wizard/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/wizard/assets/css/paper-bootstrap-wizard.css" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/wizard/assets/css/demo.css" rel="stylesheet" />

    <!-- Fonts and Icons -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="~/wizard/assets/css/themify-icons.css" rel="stylesheet">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    @{ var path = "~/wizard/assets/img/paper-1.jpeg";}
    <!-- End Google Tag Manager (noscript) -->
    <div class="image-container set-full-height" style="background-image: url(@Url.Content(path));">
        <!--   Creative Tim Branding   -->
        <a asp-action="Index" asp-controller="Home">
            <div class="logo-container">
                <div class="logo">
                    <img src="~/wizard/assets/img/new_logo.png">
                </div>
                <div class="brand">
                    Tour Me
                </div>
            </div>
        </a>

        <!--  Made With Paper Kit  -->
        <!--   Big container   -->
        <div class="container">
            <div class="row">

                <div class="col-sm-12">

                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizard">
                            <form action="CreateExperience" method="post" enctype="multipart/form-data">
                                <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->

                                <div class="wizard-header" id="5dmt">
                                    <h3 class="wizard-title">Créer une Expérience</h3>
                                    <p id="demo" style="font-size:18px;" class="category">Bonjour nous allons vous aider à Créer une Expérience.</p>
                                </div>
                                <div class="wizard-navigation">
                                    <div class="progress-with-circle">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5" style="width: 15%;"></div>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#Introduction" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-help"></i>
                                                </div>
                                                Votre idée
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Compte" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-email"></i>
                                                </div>
                                                Informations essentielles
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#service" data-toggle="tab">
                                                <div class="icon-circle">
                                                    <i class="ti-archive"></i>
                                                </div>
                                                Page de l'Activité
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="Introduction">
                                        <div class="row">
                                            <h5 class="info-text"></h5>
                                            <div class="col-sm-11 col-lg-offset-1"> <label id="remplir"> D'abord Commence par ecrire le titre</label></div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">

                                                    <input asp-for="Titre" placeholder="Titre éxperience" class="form-control" />
                                                    <span asp-validation-for="Titre" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-8 col-sm-offset-1" id="theme">
                                                <button type="button" data-toggle="modal" data-target="#myModal" id="choose" class="btn btn-dark btn-lg">Choisir un Théme</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="service">
                                        <h5 class="info-text">Maintenant, Ajouter des Activités a votre expérience</h5>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-1">

                                                <div class="form-group">
                                                    <label>Remplir cette formulaire</label><br />
                                                    <button type="button" data-toggle="modal" data-target="#myModal3" class="btn btn-primary"> Ajouter une Activité</button>
                                                </div>
                                            </div>
                                            @*<div class="col-sm-12">
                                                    <table id="example" class="table table-striped" style="width:100%">
                                                        <thead>
                                                            <tr>

                                                                <th>
                                                                    Details
                                                                </th>
                                                                <th>
                                                                    Prenom
                                                                </th>
                                                                <th>
                                                                    Email
                                                                </th>




                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in ViewBag.activite)
                                                            {

                                                                <tr>

                                                                    <td>
                                                                      <p>  @item.Details</p>

                                                                    </td>
                                                                    <td>
                                                                        @item.dateDebut
                                                                    </td>
                                                                    <td>
                                                                        @item.dateFin
                                                                    </td>






                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>*@
                                            <div class="col-sm-12">
                                                @{int x = 4;
                                                    if
                                                        (ViewBag.list != null)
                                                    {
                                                        foreach (var item in ViewBag.list)
                                                        {
                                                            var dynamic = "#myModal" + @x;


                                                            <button type="button" data-toggle="modal" data-target=@dynamic class="btn btn-primary"> @item.dateDebut</button>
                                                            x = x + 1;
                                                        }
                                                    }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="Compte">
                                        <h5 class="info-text">Maintenant, décrivons votre expérience</h5>
                                        <div class="row">

                                            <div class="col-sm-8 col-sm-offset-1">
                                                <p><b>Que feront vos participants en votre compagnie ?</b></p>
                                                <ul>
                                                    <li>Proposez un programme précis du début à la fin, et non plusieurs idées ou options</li>
                                                    <li>Décrivez en quoi votre expérience est unique et inédite pour vos participants</li>

                                                </ul>

                                            </div>
                                            <div class="col-sm-8 col-sm-offset-1">
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="5" placeholder="Expliquer aux participant le déroulement de votre expérience" name="Description"></textarea>

                                                    <a data-toggle="modal" style="color:black;" data-target="#myModal2">Afficher Des Exemples</a>

                                                </div>

                                            </div>
                                            <div class="col-sm-4 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Choisir Date Début</label><br>
                                                    <input asp-for="dateDebut" class="form-control" />
                                                    <span asp-validation-for="dateDebut"></span>

                                                </div>

                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Choisir Date Fin</label><br>
                                                    <input asp-for="dateFin" class="form-control" />
                                                    <span asp-validation-for="dateFin"></span>

                                                </div>

                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Choisir le saison</label><br>
                                                    <div class="form-group">

                                                        <select id="Saison" name="Saison" class="form-control valid" aria-invalid="false">
                                                            <option value="" default> .. </option>
                                                            <option value="printemps"> printemps </option>
                                                            <option value="service été"> été </option>
                                                            <option value="automne"> automne </option>
                                                            <option value="hiver"> hiver </option>

                                                        </select>


                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="wizard-footer">
                                        <div class="pull-right">
                                            <input type='button' class='btn btn-next btn-fill btn-wd btn-primary' name='next' value='Next' />
                                            <input type='submit' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Valider' />
                                            <input type='button' class="btn btn-success" id="button" @*data-toggle="collapse" data-target="#demo"*@ name='Confirm' value='Reviser' />
                                        </div>

                                        <div class="pull-left">
                                            <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Previous' />
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div> <!-- wizard container -->
                </div>

            </div> <!-- row -->
        </div> <!--  big container -->



    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"> Choisir Votre Théme </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body row">
                    <div class="col-sm-12">
                        <div class="form-group" id="test">

                            <select asp-for="TypeExperience" class="form-control" placeholder="Choisir Type d'Experience xx" asp-items="Html.GetEnumSelectList<TourMe.Data.Entities.Enum.TypeExperience>()">
                                <option value="null" default>Choisir Théme ..</option>
                            </select>

                            <span asp-validation-for="TypeExperience" class="text-danger"></span>
                        </div>

                    </div>
                    @*<div class="col-sm-12">
                            <div class="form-group" id="test">
                                @{var numList = Enum.GetValues(typeof());
                                    foreach (var favsub in Enum.GetValues(typeof(Model.Domaines)))
                                    {
                                        var id = TagBuilder.CreateSanitizedId(string.Format("{0}_{1}_{2}", "rdbtn", typeof(TourMe.Data.Entities.Enum.domaine), favsub));
                                        <div>
                                            @Html.RadioButtonFor(s => s.FavSubject, favsub, new { id })
                                            @Html.Label(favsub.ToString(), new { @for = id })
                                        </div>
                                    } }
                            </div>
                        </div>*@
                    <div class="col-sm-12" id="Culture">
                        <label id="description">De quoi s'agit-il exactement dans le Théme Culture ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ var listc = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Culture>().ToList();
                                    var modc = listc.Count() / 2 + listc.Count() % 2;
                                    for (int i = 0; i < modc; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="Forme" value=" @listc.ElementAt(i).Text" />
                                                @listc.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = modc; i < listc.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="Forme" value=" @listc.ElementAt(i).Text" />
                                                @listc.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="Food">
                        <label id="description">De quoi s'agit-il exactement dans le Théme Food ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ var listf = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Food>().ToList();
                                    var modf = listf.Count() / 2 + listf.Count() % 2;
                                    for (int i = 0; i < modf; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="Forme" value=" @listf.ElementAt(i).Text" />
                                                @listf.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = modf; i < listf.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="Forme" value=" @listf.ElementAt(i).Text" />
                                                @listf.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="Nature">
                        <label id="description">De quoi s'agit-il exactement dans le Théme Nature ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ listf = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Nature>().ToList();
                                    modf = listf.Count() / 2 + listf.Count() % 2;
                                    for (int i = 0; i < modf; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="Forme" value=" @listf.ElementAt(i).Text" />
                                                @listf.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = modf; i < listf.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="Forme" value=" @listf.ElementAt(i).Text" />
                                                @listf.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="Event">
                        <label id="description">De quoi s'agit-il exactement dans le Théme Event ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ listf = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Event>().ToList();
                                    modf = listf.Count() / 2 + listf.Count() % 2;
                                    for (int i = 0; i < modf; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="Forme" value=" @listf.ElementAt(i).Text" />
                                                @listf.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = modf; i < listf.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="Forme" value=" @listf.ElementAt(i).Text" />
                                                @listf.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="Health">
                        <label id="description">De quoi s'agit-il exactement dans le Théme Health ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ listf = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Health>().ToList();
                                    modf = listf.Count() / 2 + listf.Count() % 2;
                                    for (int i = 0; i < modf; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="Forme" value=" @listf.ElementAt(i).Text" />
                                                @listf.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = modf; i < listf.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="Forme" value=" @listf.ElementAt(i).Text" />
                                                @listf.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <!--  Sub Themes -->
                    <!--  Events -->
                    <div class="col-sm-12" id="MoreSport">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie Sport ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{var list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Sport>().ToList();
                                    var mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="MoreDivertissement">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie Divertissement ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Divertissement>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <!--  Food -->
                    <div class="col-sm-12" id="Cuisine">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie Cuisine?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Cuisine>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="Degustation">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie Dégustation Gastronomique ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.DegustationGastronomique>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text


                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="DinnerGroupe">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie Dîner en groupe ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.DinerEnGroupe>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="VisiteMarche">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie Visite de marche?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.VisisteDeMarche>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <!--  Health -->
                    <div class="col-sm-12" id="Beatue">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie Beauté?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Beatue>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i <= mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="Divination">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie Divination?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Divination>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="EtatEsprit">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie état d'esprit ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.EtatEsprit>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod + 1; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="PleineConscience">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie pleine conscience ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.PleineConscience>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="SanteHolistique">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie santé holistique ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.SanteHolistique>().ToList();
                                    var mod0 = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod0; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod0; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="Spa">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie Spa ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Spa>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="TherapieDeCorps">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie thérapie du corps ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.TherapieDeCorps>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="Yoga">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie Yoga ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Yoga>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <!--  Nature -->
                    <div class="col-sm-12" id="CielNocturne">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie ciel nocturne ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.CielNocturne>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="Plantes">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie plantes et agriculture ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.Plantes>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="VisiteSurLaNature">
                        <label id="description">De quoi s'agit-il exactement dans la catégorie visite sur la nature et l'écologie ?</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{ list = Html.GetEnumSelectList<TourMe.Data.Entities.Enum.SubTheme.VisiteSurLaNature>().ToList();
                                    mod = list.Count() / 2 + list.Count() % 2;
                                    for (int i = 0; i < mod; i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text

                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @{
                                    for (int i = mod; i < list.Count(); i++)
                                    { <div class="radio">
                                            <label>
                                                <input type="radio" name="sub" value=" @list.ElementAt(i).Text" />
                                                @list.ElementAt(i).Text
                                            </label>
                                        </div>}
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="autre">
                        <div class="form-group">
                            <label>Ecrire votre Théme</label>
                            <input type="text" id="type" class="form-control" />
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" id="myModal2">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"> Exemples </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body row">
                    <div class="col-sm-12">
                        <p>
                            <b>Jogging nature au cœur de la magnifique île de Jeju </b>
                            <h3 style="margin-top: -15px;"><small>Sports / Fitness </small></h3>
                            Rejoignez-moi sur l'une des plus belles pistes de Corée du Sud pour un souvenir inoubliable ! Nous traverserons une prairie peuplée de chevaux, la forêt de Gotjawal et le Tarabi Oreum (surnommé la « reine » des 380 cônes volcaniques de la région) avant de rejoindre la zone des moulins à vent. Vous aurez aussi l'occasion d'admirer le mont Halla, la mer et le Seongsan Ilchulbong (pic du soleil levant de Seongsan).
                        </p>
                        <p>
                            Tout cela en à peine plus de sept kilomètres ! Cette piste facile et amusante convient parfaitement aux débutants. À notre retour, nous terminerons l'expérience en dégustant quelques plats locaux accompagnés d'un café spécial.
                        </p>
                    </div>
                    <div class="col-sm-12">
                        <p>
                            <b>Fabrication de pâtes à la main avec nos grands-mères </b>
                            <h3 style="margin-top: -15px;"><small>Nourriture / Cuisine et alimentation / Cours de cuisine </small></h3>
                            Cuisinez avec l'un des plus grands chefs de tous les temps : notre grand-mère, Nonna Nerina. Avec ses sœurs, elle vous apprendra à faire des pâtes parfaites sans utiliser de machine. Vous n'aurez besoin que de vos mains, de quelques produits frais locaux et de beaucoup d'amour.
                        </p>
                        <p>
                            Le temps d'une journée, vous ferez partie de notre famille de fous. Suivez-nous à travers les ruelles médiévales jusqu'à la cuisine de notre Nonna, à côté du vieux pressoir où mon grand-père faisait du vin que les gens du village consommaient à même le tonneau. Cet endroit revêt une importance particulière, pour ma famille et pour tout le village.
                        </p>
                        <p>
                            Après avoir préparé nos pâtes, nous les dégusterons ensemble autour d'un délicieux repas sur notre terrasse avec vue sur la ville !
                        </p>
                    </div>
                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <form action="CreateActivite" method="post" enctype="multipart/form-data">
        <div class="modal" id="myModal3">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"> Ajouter une activité </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>
                                    Titre de l'activité
                                </label>
                                <input name="titre" class="form-control" placeholder="Activité1" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>
                                    Description de l'activité
                                </label>
                                <textarea class="form-control" rows="4" placeholder="Expliquer aux participant le déroulement de votre Activité" name="Details"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Quelle est la durée de votre expérience ?</label>
                                <select id="transport" name="Durée" class="form-control valid" aria-invalid="false">
                                    <option value="" disabled selected>Durée</option>
                                    <option value="0.5">0.5 Heure</option>
                                    <option value="0.75">0.75 Heure</option>
                                    <option value="1">1 Heure</option>
                                    <option value="">1.25 Heure</option>
                                    <option value="">1.5 Heure</option>
                                    <option value="">1.75 Heure</option>
                                    <option value="">2 Heure</option>
                                    <option value="">2.5 Heure</option>
                                    <option value="">3 Heure</option>
                                    <option value="">3.5 Heure</option>
                                    <option value="">4 Heure</option>
                                    <option value="">4.5 Heure</option>
                                    <option value="">5 Heure</option>
                                    <option value="">5.5 Heure</option>
                                    <option value="">6 Heure</option>
                                    <option value="">6.5 Heure</option>
                                    <option value="">7 Heure</option>
                                    <option value="">7.5 Heure</option>
                                    <option value="">8 Heure</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Choisir Une image</label>
                                <input type="file" class="form-control-file" name="FileP" id="exampleFormControlFile1">
                            </div>
                        </div>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Close</button>
                        <input id="AjouterActivité" type="submit" value="Ajouter" class="btn" />
                    </div>

                </div>
            </div>
        </div>

    </form>
    @{int y = 4;
        if (ViewBag.list != null)
        {
            foreach (var item in ViewBag.list)
            {
                var dynamic = "myModal" + y;

                y = y + 1;
                <div class="modal" id=@dynamic>
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title"> Ajouter une activité </h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>
                                            @item.Details
                                        </label>
                                        <input name="titre" class="form-control" placeholder="Activité1" />
                                    </div>
                                </div>




                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal">Close</button>
                                <input id="AjouterActivité" type="submit" value="Ajouter" class="btn" />
                            </div>

                        </div>
                    </div>
                </div>
            }
        }}
    <script src="~/wizard/assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="~/wizard/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/wizard/assets/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>

    <!--  Plugin for the Wizard -->
    <script src="~/wizard/assets/js/demo.js" type="text/javascript"></script>
    <script src="~/wizard/assets/js/paper-bootstrap-wizard.js" type="text/javascript"></script>

    <!--  More information about jquery.validate here: https://jqueryvalidation.org/	 -->
    <script src="~/wizard/assets/js/jquery.validate.min.js" type="text/javascript"></script>
    <script>

        //afficher region
        $(document).ready(function () {
            // les hide mta3 sub Theme
            $("#theme").hide();
            $("#autre").hide();
            $("#MoreSport,#MoreDivertissement,#Cuisine,#Degustation,#DinnerGroupe,#VisiteMarche,#Beatue,#Divination,#EtatEsprit,#PleineConscience,#SanteHolistique,#Spa,#TherapieDeCorps,#Yoga,#CielNocturne,#Plantes,#VisiteSurLaNature").hide();
            // youfaw lina
            //fonction li affichi button theme
            $("input[name='Titre']").keyup(function () {

                if (this.value.length > 2) {
                    $("#theme").show();

                }
                else {
                    $("#theme").hide();
                }
            });
            $("#Culture,#Event, #Health, #Nature,#Food").hide();
            $('select[name="TypeExperience"]').change(function () {
                $("#autre").hide();
                $("#Culture,#Event,#Health, #Nature,#Food").hide();
                $("#MoreSport,#MoreDivertissement,#Cuisine,#Degustation,#DinnerGroupe,#VisiteMarche,#Beatue,#Divination,#EtatEsprit,#PleineConscience,#SanteHolistique,#Spa,#TherapieDeCorps,#Yoga,#CielNocturne,#Plantes,#VisiteSurLaNature").hide();

                var x = $(this).find(":selected").text();

                switch (x) {
                    case "Culture":
                        $("#Culture").show();
                        break;
                    case "Food":
                        $("#Food").show();
                        break;
                    case "Nature":
                        $("#Nature").show();

                        break;
                    case "Event":
                        $("#Event").show();
                        break;
                    case "Health":
                        $("#Health").show();

                        break;
                    case "Choisir Théme ..":
                        $("#Culture,#Event,#Health, #Nature,#Food").hide();
                        break;
                }
            });
            // Input text S'affiche si l'option autre est choisis
            $("[name=Forme]").change(function () {
                var x = $(this).val().replace(/\s/g, '');

                $("#MoreSport,#MoreDivertissement,#Cuisine,#Degustation,#DinnerGroupe,#VisiteMarche,#Beatue,#Divination,#EtatEsprit,#PleineConscience,#SanteHolistique,#Spa,#TherapieDeCorps,#Yoga,#CielNocturne,#Plantes,#VisiteSurLaNature").hide();
                $("#autre").hide();
                if (x.includes("Autre")) { x = "Autre"; }
                switch (x) {
                    case "Autre":
                        $("#autre").show();
                        break;
                    //Event
                    case "Sport": $("#MoreSport").show(); break; case "Divertissement": $("#MoreDivertissement").show(); break;
                    //Food
                    case "Cuisineetalimentation": $("#Cuisine").show(); break; case "Dégustationgastronomique": $("#Degustation").show(); break; case "Dinerengroupe": $("#DinnerGroupe").show(); break; case "Visitedemarchéetgastronomie": $("#VisiteMarche").show(); break;

                    //Nature
                    case "Cielnocturne": $("#CielNocturne").show(); break; case "Plantesetagriculture": $("#Plantes").show(); break; case "Visitesurlanatureetl'écologie": $("#VisiteSurLaNature").show(); break;
                    //Health
                    case "Beatué":
                        $("#Beatue").show();
                        break;
                    case "Spa ":
                        $("#Spa").show();
                        break;
                    case "Pleineconscience":
                        $("#PleineConscience").show();
                        break;
                    case "Thérapiedecorps":
                        $("#TherapieDeCorps").show();
                        break;
                    case "Etatd’esprit":
                        $("#EtatEsprit").show();
                        break;
                    case "Santéholistique":
                        $("#SanteHolistique").show();
                        break;
                    case "Yoga":
                        $("#Yoga").show();
                        break;
                    case "Divination":
                        $("#Divination").show();
                        break;
                }

            });
            // Choose theme button getting the value from the modal
            $("#close").click(function () {
                var SubTheme = $("input[name='Forme']:checked").val();
                var theme = $('select[name="TypeExperience"]').find(":selected").text();
                Category = $("input[name='sub']:checked").val();

                if ((SubTheme.length > 1) && !(SubTheme.includes("Autre"))) {

                    $("#choose").html(SubTheme + "," + Category);
                }
                else if ($("#type").val().length > 1) {

                    $("#choose").html(theme + ", " + $("#type").val());
                }
            });
        });
    </script>
</body>

<!--   Core JS Files   -->


</html>
