@model ActiviteViewModel
<!-- /.card-header -->



<script src="~/Theme/plugins/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>


<!--CENTER SECTION-->
<div class="row">
    <div class="col-md-6">


    </div>
    <div class="db-2">
        <div class="db-2-com db-2-main">
            <h4>Activité de @ViewBag.exp.Titre"<span class="db-pay-amount"></span></h4>
            <div class="db-2-main-com db2-form-pay db2-form-com">

                <form class="col s12" enctype="multipart/form-data" method="post" asp-action="CreateActivite">
                    <div class="row">
                        <div class="input-field col s12">
                            <label>Titre</label>
                            <br />
                            <br />

                            <input disabled value="@ViewBag.exp.Titre" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">

                            <label>Type d'experience</label>
                            <br />
                            <br />
                            <input disabled value="@ViewBag.exp.TypeExperience" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">

                            <textarea asp-for="Details" class="form-control" rows="3" placeholder="Description de l'Activité ..."></textarea>
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">

                        <div class="input-field col s12">
                            <label>Date Début</label>
                            <br />
                            <br />

                            <input asp-for="dateDebut" class="form-control" />
                            <span asp-validation-for="dateDebut" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label>Date Fin</label>
                            <br />
                            <br />

                            <input asp-for="dateFin" class="form-control" />
                            <span asp-validation-for="dateFin" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label>Image</label>
                        <div class="custom-file">
                            <span>


                            </span>
                            <input multiple asp-for="FileP" class="form-control custom-file-input" />
                            <label class="custom-file-label"></label>
                        </div>
                    </div>

                    @section Scripts {
                        <script>
                            $(document).ready(function () {
                                $('.custom-file-input').on("change", function () {
                                    var fileLabel = $(this).next('.custom-file-label');
                                    var files = $(this)[0].files;
                                    if (files.length > 1) {
                                        fileLabel.html(files.length + ' files selected');
                                    }
                                    else if (files.length == 1) {
                                        fileLabel.html(files[0].name);
                                    }
                                });
                            });
                        </script>
                    }
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="submit" value="Ajouter l'activité" class="waves-effect waves-light full-btn">
                        </div>
                    </div>
                </form>





            </div>
        </div>
    </div>


    <div class="col-md-6">
        @{var photoPath = ("~/images/noimage.jpg");

        }
        @if (ViewBag.ListeActivite == null)

        {
            <table class="db-2-main-2">
                <thead>
                    <tr>

                        <th>
                            Details Activité
                        </th>
                        <th>
                            Images Activité
                        </th>



                        <th></th>
                    </tr>
                </thead>
                <tbody>




                    <tr>

                        <td>
                            Vide
                        </td>


                        <td>
                            <img class="img-thumbnail" style="height:20px; width:50px;" src="@photoPath" alt="" />
                        </td>



                    </tr>

                </tbody>
            </table>
        }


        else
        {
            <table class="table">
                <thead>
                    <tr>

                        <th>
                            Details Activite
                        </th>
                        <th>
                            Images Activite
                        </th>

                        <th>
                            Date Debut
                        </th>
                        <th>
                            Date Fin
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>




                    @foreach (var item in ViewBag.ListeActivite)
                    {

                        <tr>

                            <td>
                                @item.Details
                            </td>


                            <td>
                                @{var photoPath1 = "~/images/" + (item.Image ?? "noimage.jpg");

                                }
                                <img class="profile-user-img img-fluid img-circle" src="@photoPath1" asp-append-version="true" style="height:20px; width:50px;" alt=""/>
                            </td>
                            <td>
                                @item.dateDebut
                            </td>
                            <td>
                                @item.dateFin
                            </td>

                        </tr>
                    }
                </tbody>
            </table>



        }

        <script>
            function showAlert() {
                alert("Experience Ajouté avec succès");
            }
        </script>
        <form method="get" name="redirect">
            <ul>
                <li>

                    <input type="submit" class="waves-effect waves-light full-btn" asp-controller="Experience" asp-action="AffichageExperience" onclick="showAlert()" />

                </li>
            </ul>

        </form>



    </div>
</div>