@model TourMe.Data.Entities.Experience
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Domaine.Entities.Utilisateur> signInManager;








<section>
    <div class="rows inner_banner inner_banner_2">
        <div class="container">
            <h2><span>@Model.Titre</span></h2>
            <ul>
                <li>
                    <a href="#inner-page-title">Experiences</a>
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                <li>
                    <a href="#inner-page-title" class="bread-acti">Details</a>
                </li>
            </ul>
            <p>@Model.Theme</p>
        </div>
    </div>
</section>
<!--====== TOUR DETAILS - BOOKING ==========-->
<section>
    <div class="rows banner_book" id="inner-page-title">
        <div class="container">
            <div class="banner_book_1">
                <ul>
                    <li class="dl1">@Model.Lieu</li>
                    <li class="dl2">@Model.tarif DT</li>

                    <li class="dl4"><a asp-action="Reserver" asp-controller="Reservation" asp-route-id="@Model.ExperienceId">Reserver</a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--====== TOUR DETAILS ==========-->
<section>
    <div class="rows inn-page-bg com-colo">
        <div class="container inn-page-con-bg tb-space">
            <div class="col-md-9">
                <!--====== TOUR TITLE ==========-->

                <div class="tour_head">
                    <h2>
                        @Model.Titre
                        <span class="tour_star">
                            @{ int i = 1;
                                decimal s = ViewBag.avg;
                                for (i = 1; i <= ViewBag.avg; i++)
                                {
                                    <i class="fa fa-star" aria-hidden="true">
                                    </i> }
                                s = Math.Abs((s - i));
                                if ((s < 1) && (s > 0))
                                {<i class="fa fa-star-half-o" aria-hidden="true">
                                    </i> } }
                        </span>
                        <span class="tour_rat">@ViewBag.avg</span>
                    </h2>

                </div>
                <!--====== TOUR DESCRIPTION ==========-->
                <div class="tour_head1 hotel-com-color">
                    <h3> @Model.Titre</h3>


                </div>

                <!--====== ROOMS: HOTEL BOOKING ==========-->
                <div class="tour_head1 hotel-book-room">
                    <h3>Photo Gallery</h3>
                    <div id="myCarousel1" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators carousel-indicators-1">
                            @{int x = 0;
                                foreach (var item in Model.Activites)
                                {
                                    <li data-target="#myCarousel1" data-slide-to="@x">
                                        <img width="460" height="345" src="~/images/@item.Image" alt="Chania">
                                    </li>
                                    x++;
                                }
                            }
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner carousel-inner1">
                            @{
                                foreach (var item in Model.Activites)
                                {
                                    <div class="item @(item == Model.Activites.First() ? " active" : " ")">
                                        <img src="~/images/@item.Image" alt="Chania" style="width:800px;height:500px;">
                                    </div>
                                }
                            }
                        </div>
                        <input id="default"
                               name="defaultsrc"
                               type="hidden"
                               value="@Model.Activites.First().Image" />


                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev"> <span><i class="fa fa-angle-left hotel-gal-arr" aria-hidden="true"></i></span> </a>
                        <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next"> <span><i class="fa fa-angle-right hotel-gal-arr hotel-gal-arr1" aria-hidden="true"></i></span> </a>
                    </div>
                </div>
                <!--====== ABOUT THE TOUR ==========-->

                <div class="tour_head1 l-info-pack-days days">
                    <h3>Description de l'experience</h3>
                    <p>
                        @Model.Description
                    </p>



                </div>
                <div id="loadpartial">

                </div>
                @{ if (Model.Logement != null)
                    { <div class="tour_head1 l-info-pack-days days">
                            <h3>Logement</h3>
                            <ul>

                                <li class="l-info-pack-plac">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <h4> Du<span> @Model.Logement.Datedebut.Date.ToString("d")</span> A  <span>@Model.Logement.DateFin.Date.ToString("d")</span></h4>
                                    <h4> Type Logement<span> @Model.Logement.Type</span>  </h4>
                                    <h4> Prix Par nuit<span> @Model.Logement.Prix dt</span>  </h4>
                                    <img src="~/images/@Model.Logement.Image" alt="Chania" style="width:250px;height:250px;">
                                </li>

                            </ul>
                        </div> } }
                @{ if (Model.Nourriture != null)
                    {<div class="tour_head1 l-info-pack-days days">
                            <h3>Nourriture</h3>
                            <ul>

                                <li class="l-info-pack-plac">
                                    <i class="fa fa-10x" aria-hidden="true"></i>

                                    <h4> Type Nourriture<span> @Model.Nourriture.Type</span>  </h4>
                                    <h4> Prix<span> @Model.Nourriture.Prix dt</span>  </h4>
                                    <p>
                                        @Model.Nourriture.Description
                                    </p>
                                    <img src="~/images/@Model.Nourriture.Image" alt="pas d'image" style="width:250px;height:250px;">

                                </li>

                            </ul>
                        </div> } }

                @{ if (Model.Transport != null)
                    { <div class="tour_head1 l-info-pack-days days">
                            <h3>Transport</h3>
                            <ul>

                                <li class="l-info-pack-plac">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <h4> Disponible du<span> @Model.Transport.DateDisp.ToString("d")</span> </h4>
                                    <h4> Type Transport<span> @Model.Transport.TypeTransport</span>  </h4>
                                    <h4> Prix<span> @Model.Transport.Prix dt</span>  </h4>

                                    <img src="~/images/@Model.Transport.Image" alt="pas d'image" style="width:250px;height:250px;">
                                </li>

                            </ul>
                        </div> } }


                <!--====== HOTEL ROOM TYPES ==========-->
                <!--====== AMENITIES ==========-->
                <!--====== TOUR LOCATION ==========-->

                <div>
                    @if (signInManager.IsSignedIn(User))
                    {

                        <div class="dir-rat">
                            <form method="post" asp-controller="Experience" asp-action="Details">
                                <div class="dir-rat-inn dir-rat-title">
                                    <h3>Write Your Rating Here</h3>
                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>

                                    <fieldset class="rating">
                                        <input type="radio" id="star5" name="Rating" value="5" />
                                        <label class="full" for="star5" title="Awesome - 5 stars"></label>


                                        <input type="radio" id="star4" name="Rating" value="4" />
                                        <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3half" name="Rating" value="3 and a half" />
                                        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                        <input type="radio" id="star3" name="Rating" value="3" />
                                        <label class="full" for="star3" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2half" name="Rating" value="2 and a half" />
                                        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <input type="radio" id="star2" name="Rating" value="2" />
                                        <label class="full" for="star2" title="Kinda bad - 2 stars"></label>

                                        <input type="radio" id="star1" name="Rating" value="1" />
                                        <label class="full" for="star1" title="Sucks big time - 1 star"></label>

                                    </fieldset>
                                </div>
                                <div class="dir-rat-inn">


                                    <div class="form-group col-md-12 pad-left-o">
                                        <textarea name="comment" placeholder="Write your message"></textarea>
                                    </div>
                                    <div class="form-group col-md-12 pad-left-o">
                                        <input type="submit" value="SUBMIT" class="link-btn">
                                    </div>
                                    <input type="hidden" asp-for="ExperienceId" />


                                </div>

                                <!--COMMENT RATING-->
                                @{ if (Model.Ratings != null)
                                    {
                                        foreach (var item in Model.Ratings)
                                        {
                                            <style>
                                                img {
                                                    border: 1px solid #ddd;
                                                    border-radius: 4px;
                                                    padding: 5px;
                                                    width: 120px;
                                                }
                                            </style>

                                            if (item.Commentaire != null)
                                            {
                                                <div class="dir-rat-inn dir-rat-review">
                                                    <div class="row">
                                                        <div class="col-md-3 dir-rat-left">
                                                            <img src="~/images/@item.utilisateur.ProfilePhoto" alt="">
                                                            <p>
                                                                @{ if (@item.utilisateur.Nom != null)
                                                                    {@item.utilisateur.Nom
                                                                }
                                                                else
                                                                { @item.utilisateur.Prenom

                                                            }
                                                                }
                                                            </p>
                                                        </div>
                                                        <div class="col-md-9 dir-rat-right">
                                                            <!--calculatign number of stars-->
                                                            <div class="dir-rat-star">
                                                               
                                                                @{ int y = 1;
                                                                    decimal z =decimal.Parse(@item.note);
                                                                    for (y = 1; y <= decimal.Parse(@item.note); y++)
                                                                    {
                                                                        <i class="fa fa-star" aria-hidden="true">
                                                                        </i> }
                                                                    z = Math.Abs((z - y));
                                                                    if ((z < 1) && (z    > 0))
                                                                    {<i class="fa fa-star-half-o" aria-hidden="true">
                                                                        </i> } }
                                                            </div>
                                                            <p>@item.Commentaire</p>
                                                           
                                                           
                                                        </div>
                                                    </div>
                                                </div>}
                                        }
                                    }
                                }

                                <!--COMMENT RATING-->
                                <!--COMMENT RATING-->
                            </form>
                        </div>}
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--====== Bag and Go New Template ==========-->
<!--========= Scripts ===========-->

<script src="~/Theme/Template2/js/jquery-latest.min.js"></script>
<script src="~/Theme/Template2/js/bootstrap.js"></script>
<script src="~/Theme/Template2/js/wow.min.js"></script>
<script src="~/Theme/Template2/js/materialize.min.js"></script>
<script src="~/Theme/Template2/js/custom.js"></script>
<script>
        function request(imageSrc) { $.ajax({

                    url: '@Url.Action("Description", "Experience")',
                                                 data: { 'src': imageSrc },
                                                 type: "Get",
                    success: function (data) {
                    $("#loadpartial").html(data);
                }
            });}

                        $(document).ready(function () {
                            var x = $('.active').find('img').attr('src');
                            request(x);
                            $("#myCarousel1").on('slid.bs.carousel', function () {


                                var totalItems = $('.item').text().length;

                                var imageSrc = $('.active').find('img').attr('src');
                                console.log(imageSrc);
                                console.log('target: ' + totalItems
                                    );

                                request(imageSrc);


                                      });
                        });
</script>
<!--</body>-->
<!-- Mirrored from rn53themes.net/themes/demo/travelz/hotel-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Mar 2021 14:03:26 GMT -->
<!--</html>-->
