@model Domaine.Entities.Utilisateur


@{

    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


@{var photoPath = "~/images/" + (Model.ProfilePhoto ?? "noimage.jpg");

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Vous vouler supprimer @Model.Email </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="AdminHome" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Voir tous les utilisateurs</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<section class="content">



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">



                    </div>
                    <div class="card-body">
                        <h4>Utilisateur</h4>
                        <hr />
                        <ul>

                            <li>
                                <h4>Nom</h4>
                                @Html.DisplayFor(model => model.Nom)
                            </li>
                            <li>
                                <h4>Prenom</h4>
                                @Html.DisplayFor(model => model.Prenom)
                            </li>
                            <li>
                                <h4>Email</h4>
                                @Html.DisplayFor(model => model.Email)
                            </li>

                            <li>
                                <h4>Photo</h4>
                                <img src="@photoPath" asp-append-version="true" alt="" />
                            </li>

                        </ul>
                        <form asp-action="DeleteUser">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="GetAllUsers">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
