@model TourMe.Web.Models.SendEmailViewModel

@{
    ViewData["Title"] = "GetALLmails";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>GetALLmails</h1>


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Voir la liste de tous les comptes </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="AdminHome" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Voir tous les Emails</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tous les Emails</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" id="myInput" placeholder="Recherche Utilisateurs" title="Type in a name" class="form-control float-right">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>

                                <tr>
                                    <th>Id</th>
                                    <th>A</th>
                                    <th>Sujet</th>                                   
                                    <th>Attachements</th>
                                    <th>Details</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 0;

                                    foreach (var item in ViewBag.Mail)
                                    {
                                        var dynamic = "#exampleModal" + i;


                                        <tr>
                                            <td> @item.Id</td>
                                            
                                            <td>
                                                @item.To
                                            </td>
                                            <td>
                                                @item.Subject
                                            </td>



                                          

                                            <td>
                                                @{ int z = 1;
                                                    if (item.File != null)
                                                    {
                                                        foreach (var doc in item.File)
                                                        {

                                                            <a href="~/EmailFiles/@doc.Filepath" target="_blank">doc @i </a>
                                                            z = z + 1;
                                                        }
                                                    }
                                                    else { <button value="empty"></button>}

                                                }
                                            </td>



                                          




                                           
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=@dynamic>Details  </button>

                                            </td>
                                        </tr>
                                        i = i + 1;
                                    }}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@{ int y = 0;
    foreach (var item in ViewBag.Mail)
    {
        var exp = "exampleModal" + y;
        <div class="modal" id=@exp>
            <div class="modal-dialog" role="document">
                <div class="modal-content">


                    <form method="post" enctype="multipart/form-data" asp-controller="Administration" asp-action="DeleteMail">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <div class="modal-header">

                            <h5 class="modal-title" id="exampleModalLabel">Send email</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                <i class="bi bi-alarm-fill"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>to</label>
                                <input type="text" asp-for="To" class="form-control" required="required" name="to" value="@item.To" />
                            </div>
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" class="form-control" value="@item.Subject" asp-for="Subject" required="required" name="Subject" />
                                <h5 asp-action="SendEmail">
                            </div>

                            <div class="form-group">
                                <label class="control-label" asp-for="Body">body</label>

                                <textarea rows="4" name="Body" class="form-control" cols="15"> @item.Body </textarea>
                                <span class="text-danger" asp-validation-for="Body"></span>
                            </div>
                            @*Lazem Carousel*@

                            <i class="bi bi-alarm-fill"></i>

                        </div>
                        <div class="modal-footer">

                            <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#example">
                                Delete
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        y = y + 1;
    }
}
@section Scripts {
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
        $("#myInput").on("keyup", function () {

            var textEnter = $(this).val();
            $("Table tr").each(function (results) {

                if (results != 0) {
                    var id = $(this).find("td").text();
                    if (id.indexOf(textEnter) != 0 && id.toLowerCase().indexOf(textEnter.toLowerCase()) < 0) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                }

            });


        });

    </script>
}

