@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "GetAllRoles";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <!-- Font Awesome -->
    <!-- Ionicons -->
    <link href="~/Theme/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- overlayScrollbars -->
    <link href="~/Theme/dist/css/adminlte.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="#">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/Theme/Template2/css/animate.css" rel="stylesheet" />
    <link href="~/Theme/Template2/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/Template2/css/style.css" rel="stylesheet" />
    <link href="~/Theme/Template2/css/materialize.css" rel="stylesheet" />
    <link href="~/Theme/Template2/css/mob.css" rel="stylesheet" />
    <link href="~/Theme/Template2/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

    @if (!(Model.Any()))
    {
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="callout callout-danger"><h5>No Roles created</h5></div>
                    <p>
                        <a asp-action="CreateRole" class="btn btn-primary btn-block">Create New</a>
                    </p>
                </div>
            </div>
        </div>
    }
    else
    {
        <table class="table table-bordered table-hover dataTable dtr-inline">
            <thead>
                <tr>

                    <th style="width: 60%">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th style="width: 30%">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@item.Id" class="hot-page2-alp-quot-btn spec-btn-text">EditRole</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-controller="Administration" asp-route-id="@item.Id" class="btn btn-primary btn-block">DeleteRole</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            <a class="btn btn-primary btn-block" asp-action="CreateRole">Create New</a>
        </p>
    }
   
    <div class="dir-rat">
        <div class="dir-rat-inn dir-rat-title">
            <h3>Write Your Rating Here</h3>
            <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
            <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label class="full" for="star5" title="Awesome - 5 stars"></label>
                

                <input type="radio" id="star4" name="rating" value="4" />
                <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3 and a half" />
                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label class="full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2 and a half" />
                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                
                <input type="radio" id="star1" name="rating" value="1" />
                <label class="full" for="star1" title="Sucks big time - 1 star"></label>
               
            </fieldset>
        </div>
        <div class="dir-rat-inn">
            <form class="dir-rat-form">
                <div class="form-group col-md-6 pad-left-o">
                    <input type="text" class="form-control" id="email11" placeholder="Enter Name">
                </div>
                <div class="form-group col-md-6 pad-left-o">
                    <input type="number" class="form-control" id="email12" placeholder="Enter Mobile">
                </div>
                <div class="form-group col-md-6 pad-left-o">
                    <input type="email" class="form-control" id="email13" placeholder="Enter Email id">
                </div>
                <div class="form-group col-md-6 pad-left-o">
                    <input type="text" class="form-control" id="email14" placeholder="Enter your City">
                </div>
                <div class="form-group col-md-12 pad-left-o">
                    <textarea placeholder="Write your message"></textarea>
                </div>
                <div class="form-group col-md-12 pad-left-o">
                    <input type="submit" value="SUBMIT" class="link-btn">
                </div>
            </form>
        </div>
        <!--COMMENT RATING-->
        
        <!--COMMENT RATING-->
        
        <!--COMMENT RATING-->
        
    </div>
    </div>
    </div>
</body>
</html>