
@{

    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@model IList<TourMe.Data.Entities.ServiceNouritture>




<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Voir la liste de tous les Services Nourriture </h1>
            </div> 
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="AdminHome" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Voir tous les utilisateurs</li>
                </ol>
            </div> 
        </div> 
    </div> 
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tous les Services Nourriture</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" id="myInput" placeholder="Recherche Utilisateurs" title="Type in a name" class="form-control float-right">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                         <table id="example2" class="table table-bordered table-hover">
                            <thead>

                                <tr>
                                    <th>NomRestau</th>
                                    <th>Adresse</th>
                                    <th>TypeResto</th>
                                    <th>Description</th>

                                    <th>dateOuvert</th>
                                    <th>dateFerme</th>
                                    <th>Site</th>
                                    <th>Plat</th>
                                    <th>Prix</th>
                                    <th>Images</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                <tr>


                                    <td>
                                        @item.NomRestau
                                    </td>
                                    <td>
                                        @item.Adresse
                                    </td>

                                    <td>
                                        @item.TypeResto
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @item.dateOuvert
                                    </td>
                                    <td>
                                        @item.dateFerme
                                    </td>
                                    <td>
                                        @item.Site

                                    </td>
                                    <td>
                                        @item.Plat

                                    </td>
                                    <td>
                                        @item.Prix
                                    </td>


                                    <td>
                                        @foreach (var doc in item.Documents)
                                        {

                                            <a href="~/Files/@doc.Filepath" target="_blank">doc </a>

                                        }
                                    </td>


                                    <td>

                                        <span> <a asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@item.Id" class="link-btn">Delete</a></span>

                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    $("#myInput").on("keyup", function () {

        var textEnter = $(this).val();
        $("Table tr").each(function (results) {

            if (results != 0) {
                var id = $(this).find("td").text();
                if (id.indexOf(textEnter) != 0 && id.toLowerCase().indexOf(textEnter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }

        });


    });

    </script>
}




