@model List<TourMe.Data.Entities.ServiceLogment>;
   

 <link rel="shortcut icon" href="~/Theme/Restaurant/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Theme/Restaurant/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Theme/Restaurant/img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/Theme/Restaurant/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Restaurant/fonts/font-awesome/css/font-awesome.css">

    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css" href="~/Theme/Restaurant/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Restaurant/css/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Restaurant/css/nivo-lightbox/default.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

    <script type="text/javascript" src="~/Theme/Restaurant/js/jquery.1.11.1.js"></script>
    <script type="text/javascript" src="~/Theme/Restaurant/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Theme/Restaurant/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="~/Theme/Restaurant/js/nivo-lightbox.js"></script>
    <script type="text/javascript" src="~/Theme/Restaurant/js/jquery.isotope.js"></script>
    <script type="text/javascript" src="~/Theme/Restaurant/js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="~/Theme/Restaurant/js/contact_me.js"></script>
    <script type="text/javascript" src="~/Theme/Restaurant/js/main.js"></script>
    <div id="portfolio">
      
        <div class="container">
            <div class="row">
              
            </div>
            <div class="row">
                <div class="portfolio-items">

                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
                            <div class="portfolio-item">
                                <a asp-action="Detailslogement" asp-controller="Service" asp-route-id="@item.Id">
                                    <h4>

                                        @item.Titre
                                    </h4>
                                </a>
                                <div class="hover-bg">

                                    <a href="~/Files/@item.Documents.First().Filepath" title="@item.Titre" data-lightbox-gallery="gallery1">
                                       
                                        <div class="hover-text">

                                            <h4>@item.Titre</h4>
                                            <span>
                                                <p>Prix: @item.PrixParNuit</p>
                                            </span>


                                        </div>
                                        <img src="~/Files/@item.Documents.First().Filepath" class="img-responsive" alt="Project Title">
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>