

@{var photoPath = "~/images/" + (ViewBag.user.ProfilePhoto ?? "noimage.jpg");

}
<!--DASHBOARD-->
<section>
    <div class="db col-md-12">
        <!--LEFT SECTION-->
        <div class="db-l">
            <div class="db-l-1">
                <ul>
                    <li>
                        <img src="@photoPath" asp-append-version="true" alt="" />
                    </li>

                </ul>
            </div>
            <div class="db-l-2">
                <ul>
                    <li>
                        <a asp-controller="Experience" asp-action="MesExperiences"><img src="~/Theme/Template2/images/icon/dbl1.png" alt="" /> Mes Expériences</a>
                    </li>
                    <li>
                        <a href="db-travel-booking.html"><img src="~/Theme/Template2/images/icon/dbl2.png" alt="" /> Travel Bookings</a>
                    </li>
                    <li>
                        <a href="db-hotel-booking.html"><img src="~/Theme/Template2/images/icon/dbl3.png" alt="" /> Hotel Bookings</a>
                    </li>
                    <li>
                        <a href="db-event-booking.html"><img src="~/Theme/Template2/images/icon/dbl4.png" alt="" /> Event Bookings</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="ProfilCommerc"><img src="~/Theme/Template2/images/icon/dbl6.png" alt="" /> My Profile</a>
                    </li>
                    <li>
                        <a href="db-all-payment.html"><img src="~/Theme/Template2/images/icon/dbl9.png" alt="" /> Payments</a>
                    </li>
                    <li>
                        <a href="db-refund.html"><img src="~/Theme/Template2/images/icon/dbl7.png" alt="" /> Claim & Refund</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--CENTER SECTION-->
        <div class="col-md-6">
            <div class="col-md-6">
                <h4>Mes Services</h4>
                @{

                    if (ViewBag.listeL != null)
                    {

                        <table>
                            <thead>
                                <tr>
                                    <th>nom</th>
                                    <th>Category</th>
                                    <th>Type </th>
                                    <th>Prix</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.listeL)
                                {
                                <tr>
                                  <td>  <a asp-action="DetailsLogement" asp-controller="Service" asp-route-id="@item.Id" style="color:black"><h3>@item.Titre</h3></a></td>

                                    <td>@item.Category</td>
                                    <td>@item.Type</td>

                                    <td>@item.PrixParNuit</td>





                                    <td>
                                        <form method="post">
                                            <span id="confirmDeleteSpanL_@item.Id" style="display:none">
                                                <span>Are you sure you want to delete?</span>

                                                <button asp-action="DeleteLogement" asp-controller="Service" asp-route-id="@item.Id" type="submit" class="btn btn-danger">Yes</button>

                                                <a href="#" class="btn btn-primary"
                                                   onclick="confirmDeleteL('@item.Id', false)">No</a>
                                            </span>

                                            <span id="deleteSpanL_@item.Id">
                                                <a href="#" class="btn btn-danger"
                                                   onclick="confirmDeleteL('@item.Id', true)">Delete</a>
                                            </span>
                                        </form>


                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>



                    }

                    if (ViewBag.listeN != null)
                    {

                        <table>
                            <thead>
                                <tr>
                                    <th>Nom</th>

                                    <th>Type restaurant</th>
                                    <th>Spécialité Restaurant</th>
                                    <th>Plat</th>
                                    <th>Prix</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.listeN)
                                {
                                <tr>
                                    <td>  <a asp-action="DetailsResto" asp-controller="Service" asp-route-id="@item.Id" style="color:black"><h3>@item.NomRestau</h3></a></td>

                                    <td>@item.TypeResto</td>
                                    <td>@item.SpecialeResto</td>
                                    <td>@item.Plat</td>
                                    <td>@item.Prix</td>





                                    <td>
                                        <form method="post">
                                            <span id="confirmDeleteSpan_@item.Id" style="display:none">
                                                <span>Are you sure you want to delete?</span>

                                                <button asp-action="DeleteNourriture" asp-controller="Service" asp-route-id="@item.Id" type="submit" class="btn btn-danger">Yes</button>

                                                <a href="#" class="btn btn-primary"
                                                   onclick="confirmDelete('@item.Id', false)">No</a>
                                            </span>

                                            <span id="deleteSpan_@item.Id">
                                                <a href="#" class="btn btn-danger"
                                                   onclick="confirmDelete('@item.Id', true)">Delete</a>
                                            </span>
                                        </form>

                                    </td>
                                    <td>
                                        <a asp-action="ModifierRestaurent" asp-route-id="@item.Id">Modifier</a>


                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }
                    if (ViewBag.listeT != null)
                    {

                        <table>
                            <thead>
                                <tr>
                                    <th>TypeTransport</th>

                                    <th>Nombre places/th>
                                  
                                    <th>Prix</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.listeT)
                                {
                                <tr>
                                    <td>  <a asp-action="DetailsResto" asp-controller="Service" asp-route-id="@item.Id" style="color:black"><h3>Transport</h3></a></td>

                                    <td>@item.TypeTransport</td>

                                    <td>@item.NbrPlaces</td>
                                    <td>@item.Prix</td>





                                    <td>
                                        <form method="post">
                                            <span id="confirmDeleteSpanT_@item.Id" style="display:none">
                                                <span>Are you sure you want to delete?</span>

                                                <button asp-action="DeleteTransport" asp-controller="Service" asp-route-id="@item.Id" type="submit" class="btn btn-danger">Yes</button>

                                                <a href="#" class="btn btn-primary"
                                                   onclick="confirmDeleteT('@item.Id', false)">No</a>
                                            </span>

                                            <span id="deleteSpanT_@item.Id">
                                                <a href="#" class="btn btn-danger"
                                                   onclick="confirmDeleteT('@item.Id', true)">Delete</a>
                                            </span>
                                        </form>


                                    </td>
                 

                                    
                                </tr>
                                }
                            </tbody>
                        </table>
                    }

                }

            </div>

        </div>
        <!--RIGHT SECTION-->

    </div>
</section>
<script>
    $(document).ready(function () {
     
        confirmDelete(uniqueId, isDeleteClicked);
        confirmDeleteL(uniqueId, isDeleteClicked);
        confirmDeleteT(uniqueId, isDeleteClicked);
    });
        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
    }


    function confirmDeleteT(uniqueId, isDeleteClicked) {
        var deleteSpan = 'deleteSpanT_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpanT_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }




    function confirmDeleteL(uniqueId, isDeleteClicked) {
        var deleteSpan = 'deleteSpanL_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpanL_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }

    

</script>
<!--END DASHBOARD-->